.main-image{
  height: 500px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  background-image: url("http://res.cloudinary.com/dmfizx1xi/image/upload/v1486853978/404_c8yduy.png");
}
 